.section2,
.section4,
.section6,
.section8 {
  width: 100%;
  background: #f5f6f7;
}
.title_line {
  height: 8px;
  border-radius: 8px;
  background: #54c2ff;
}

@media only screen and (min-width: 640px) {
  .flow-box {
    width: 832px;
    height: 140px;
  }
  .flow-box-small {
    width: 400px;
    height: 140px;
  }
  .flow-box > .box-left {
    min-width: 150px;
    width: 150px;
  }
  .flow-box-small > .box-left {
    min-width: 150px;
    width: 150px;
  }
}

.hover-btn {
  cursor: pointer;
}
.hover-btn:hover {
  background: #ffec50;
  color: #333333;
}
