.section2, .section4, .section6, .section8 {
    background: #f5f6f7
}
.nav-btn {
    background-color: #333333;
}
.hover-btn {
    cursor: pointer;
    font-weight: bold;
}
.hover-btn:hover {
    background: #ffec50;
    color: #333333;
}
.title_line {
    height: 8px;
    border-radius: 8px;
    background: #54c2ff;
}
.flow-box {
    width: 832px;
    height: 140px;
}
.flow-box-small {
    width: 400px;
    height: 140px;
}
.flow-box > .box-left {
    min-width: 150px;
    width: 150px;
}
.flow-box-small > .box-left {
    min-width: 150px;
    width: 150px;
}
